* {
  box-sizing: border-box;
}

.main-container {
  display: flex;
  flex-direction: column;
}
.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #402215;
  padding: 10px;
}
.card-container {
  display: flex;
  flex-direction: row;
}
.website-logo {
  height: 50px;
  width: 50px;
  align-self: center;
  background-color: transparent;
  margin-right: 20px;
}
.nav-heading {
  align-self: center;
  color: #ede1d5;
}
.bottom-details-container {
  background-color: #eeefee;
  min-height: 100vh;
  background-size: cover;
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 720px) {
  .bottom-details-container {
    display: flex;
    flex-direction: column;
  }
}

.bottom-deatails-container-items {
  display: flex;
  flex-direction: column;
  background-color: #ede1d5;
  border-radius: 8px;
  width: 45vw;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 10px;
}

@media screen and (max-width: 720px) {
  .bottom-deatails-container-items {
    width: 80vw;
  }
}
.heading {
  color: #cdb59d;
}
.each-item-deatils {
  display: flex;
  cursor: pointer;
  border-radius: 8px;
  margin-bottom: 10px;
  border-bottom: 2px solid #402215;
  padding: 10px;
  justify-content: space-between;
}
.quantity {
  color: black;
  align-self: center;
}
.bottom-details-container-name {
  display: flex;
  flex-direction: column;
  background-color: #ede1d5;
  border-radius: 8px;
  width: 45vw;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 20px;
  height: 30vh;
}
@media screen and (max-width: 720px) {
  .bottom-deatails-container-name {
    width: 80vw;
  }
}
.image {
  height: 130px;
  width: 150px;
  border-radius: 8px;
}
.container {
  position: relative;
  display: inline-block;
}

.input {
  height: 50px;
  width: 230px;
  border: 2px solid #402215;
  padding-left: 10px;
  padding: 3px;
  background-color: #ede1d5;
  border-radius: 16px;
  width: 100%;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 30px;
}
.input-cvv {
  height: 50px;
  width: 140px;
  border: 2px solid #402215;
  padding-left: 10px;
  padding: 3px;
  background-color: #ede1d5;
  border-radius: 16px;
  width: 40%;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 15px;
}

.label {
  background-color: #ede1d5;
  left: 25px;
  top: -7px;
  color: #402215;
  position: absolute;
  padding: 0 2px;
}
.item-name {
  align-self: center;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
}
.cost {
  align-self: center;
  font-weight: bold;
}
.button {
  cursor: pointer;
  background-color: #ede1d5;
  color: #402215;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 30px;
  width: 80vw;
  align-self: center;
  font-family: "Roboto";
  font-weight: 500;
  height: 45px;
}
